<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <title>MATERIALIZE-FORM{% block title %}{% endblock title %}</title>

    {% block css %} {% endblock css %}

</head>

<body>
    <div class="container">
        {% block content %} {% endblock content %}
    </div>

    {% block javascripts %} {% endblock javascripts %}

</body>

</html>